body {
  font-family: Arial;
  background-color: lightgray;
}

.form {
  width: 300px;
  margin: 50px auto;
  background: white;
  padding: 30px;
  border: 1px solid gray;
}

h2 {
  text-align: center;
}

input {
  width: 100%;
  padding: 8px;
}

input[type="submit"] {
  background: blue;
  color: white;
  border: none;
  cursor: pointer;
}

input[type="submit"]:hover {
  background: darkblue;
}
