body {
  font-family: Arial;
  margin: 0;
  background-color: #f2f2f2;
}

header {
  background-color: blue;
  color: white;
  text-align: center;
  padding: 15px;
}

nav {
  background-color: black;
  padding: 10px;
  text-align: center;
}

nav a {
  color: white;
  text-decoration: none;
  margin: 15px;
}
a:hover {
  text-decoration: underline;
}
a:active {
  color: rgba(94, 237, 5, 0.867);
}

main {
  padding: 20px;
}

article {
  background-color: white;
  padding: 15px;
  margin-bottom: 15px;
  border: 1px solid gray;
}

footer {
  background-color: black;
  color: white;
  text-align: center;
  padding: 10px;
}
