#form_builder{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
/* <form>
  Name:
  <input type="text">

  Password:
  <input type="password">

  Email:
  <input type="email">

  Age:
  <input type="number">

  Gender:
  <input type="radio" name="gender" value="male"> Male
  <input type="radio" name="gender" value="female"> Female

  Skills:
  <input type="checkbox" value="HTML"> HTML
  <input type="checkbox" value="CSS"> CSS

  Upload:
  <input type="file">

  Birthday:
  <input type="date">

  Favorite Color:
  <input type="color">

  Progress:
  <input type="range">

  <input type="submit">
</form> */