.box {
  width: 100px;
  height: 100px;
  background: blue;
  animation: move 3s infinite;
}

@keyframes move {
  0% {
    margin-left: 0;
  }

  50% {
    margin-left: 150px;
    background: green;
  }

  100% {
    margin-left: 300px;
    background: red;
  }
}
