body {
    background-image: url("../HTML PRACTICE/images/photo-1449824913935-59a10b8d2000.avif"); /* Change the path if needed */
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-position: center;
    background-attachment: fixed;

    margin: 0;
    height: 100vh;

    color: white;
    font-family: Arial, sans-serif;
    text-align: center;
}

h1 {
    padding-top: 100px;
    color: black;
}
P{
    color: rgb(0, 0, 0);
    font-weight: bold;
}