h1{
    display: flex;
    justify-content: center;
    align-items: center;
}
#carousel{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 20px;
}